{% extends "base.html" %}
{% block title %}Список отелей{% endblock %}
{% block content %}
<h1 class="mb-4">Список отелей</h1>
<div class="row">
  {% for hotel in hotels %}
  <div class="col-md-6">
    <div class="hotel-card">
      <h5><a href="{% url 'hotel_detail' hotel.pk %}">{{ hotel.name }}</a></h5>
      <p class="text-muted">{{ hotel.address }}</p>
      <p>{{ hotel.description|truncatechars:120 }}</p>
    </div>
  </div>
  {% empty %}
    <p>Нет отелей</p>
  {% endfor %}
</div>
{% endblock %}
